@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WorkIO Sourcing</h1>
    <p>Empresa outsourcing de empresas clientes que le delegan el seguimiento de sus contrataciones por medio de las referencias laborales.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
