@page "{id:int?}"
@model Work_IO.Pages.WorkIO.EditCandidatoModel
@{
    ViewData["Title"] = "EditCandidato";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="container-page">
            <h3 class="dark-grey">Editar candidato</h3>
            <div class="col-md-12">

                <div class="form-group col-lg-12">
                    <label asp-for="Candidato.OrdenID">Orden:</label>
                    <select class="custom-select" asp-for="Candidato.OrdenID" asp-items="@(new SelectList(Model.OrdenList,"Id","Nombre"))">
                        <option>Seleccione la orden</option>
                    </select>
                </div>

                <div class="form-group col-lg-12">
                    <label asp-for="Candidato.Nombre"></label>
                    <input asp-for="Candidato.Nombre" class="form-control form-text" />
                    <span asp-validation-for="Candidato.Nombre"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.Sexo">Sexo</label>
                    <select class="custom-select mr-sm-2" asp-for="Candidato.Sexo">
                        <option value="masculino">MASCULINO</option>
                        <option value="femenino">FEMENINO</option>
                    </select>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.Edad">Edad</label>
                    <input type="text" asp-for="Candidato.Edad" class="form-control form-text">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.FNacimiento">Birthday:</label>
                    <input type="date" asp-for="Candidato.FNacimiento" class="form-control">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.LNacimiento">Lugar de nacimiento</label>
                    <input type="text" asp-for="Candidato.LNacimiento" class="form-control form-text">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.Nacionalidad">Nacionalidad</label>
                    <input type="text" asp-for="Candidato.Nacionalidad" class="form-control form-text">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.ECivil">Estado Civil</label>
                    <input type="text" asp-for="Candidato.ECivil" class="form-control form-text">
                </div>

                <div class="col-xs-12 col-md-6"> <button type="submit" value="" class="btn btn-success btn-block btn-lg">Guardar</button></div>
                <div class="col-xs-12 col-md-6"><a asp-page="/WorkIO/CandidatosRegistrados" class="btn btn-primary btn-block btn-lg">Cancelar</a></div>
                

            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}