@page
@model Work_IO.Pages.WorkIO.IndexModel
@{
    ViewData["Title"] = "Index";
}


<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="text-center section-title h1">Bienvenido de nuevo asesor.</h2>
        <p class="text-center text-muted h2">¿Qué desea realizar? </p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Empresas</h3>
                        <p class="card-text">En este apartado el asesor podrá registrar y consultar las empresas clientes.</p>
                        <a href="/WorkIO/RegisterEmpresa" title="Registro empresa" class="btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
                        <a href="/WorkIO/EmpresasRegistradas" title="Lista de empresas" class="btn-dark">Ver Lista<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Candidatos</h3>
                        <p class="card-text">En este apartado el asesor podrá registrar y consultar candidatos.</p>
                        <a href="/WorkIO/RegisterCandidato" title="Registro candidato" class="btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
                        <a href="/WorkIO/RegisterEmpresa" title="Lista de candidatos" class="btn-dark">Ver Lista<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Orden</h3>
                        <p class="card-text">En este apartado el asesor podrá registrar y consultar ordenes.</p>
                        <a href="/WorkIO/RegisterCandidato" title="Registro orden" class="btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
                        <a href="/WorkIO/RegisterEmpresa" title="Lista de ordenes" class="btn-dark">Ver Lista<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- /Services section -->