@page
@model Work_IO.Pages.WorkIO.ReferenciasModel
@{
    ViewData["Title"] = "Referencias";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <section class="">
        <form method="post" enctype="multipart/form-data">
            <h3 class="dark-grey">Agregar Referencias</h3>
            <div class="col-md-6">

                <div class="form-group col-lg-12">
                    <label asp-for="Referencia.CandidatoID">Candidato:</label>
                    <select asp-for="Referencia.CandidatoID" asp-items="@(new SelectList(Model.CandidatoList,"Id","Nombre"))">
                        <option>Seleccione el candidato</option>
                    </select>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.NomEmpresa">Nombre de la empresa:</label>
                    <input type="text" asp-for="Referencia.NomEmpresa" class="form-control form-text" placeholder="Nombre de la empresa">
                    <span class="text-danger" asp-validation-for="Referencia.NomEmpresa"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.Telefono">Telefono:</label>
                    <input type="text" asp-for="Referencia.Telefono" class="form-control form-text" placeholder="Telefono">
                    <span class="text-danger" asp-validation-for="Referencia.Telefono"></span>
                </div>

                <div class="form-group col-lg-12">
                    <label asp-for="Referencia.Direccion">Direccion:</label>
                    <input type="text" asp-for="Referencia.Direccion" class="form-control form-text" placeholder="Direccion">
                    <span class="text-danger" asp-validation-for="Referencia.Direccion"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.NomInformante">Nombre del informante:</label>
                    <input type="text" asp-for="Referencia.NomInformante" class="form-control form-text" placeholder="Nombre del informante">
                    <span class="text-danger" asp-validation-for="Referencia.NomInformante"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.NomJefe">Nombre del jefe:</label>
                    <input type="text" asp-for="Referencia.NomJefe" class="form-control form-text" placeholder="Nombre del jefe">
                    <span class="text-danger" asp-validation-for="Referencia.NomJefe"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.PuestoInformante">Puesto del informante:</label>
                    <input type="text" asp-for="Referencia.PuestoInformante" class="form-control form-text" placeholder="Puesto del informante">
                    <span class="text-danger" asp-validation-for="Referencia.PuestoInformante"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.PuestoJefe">Puesto del jefe:</label>
                    <input type="text" asp-for="Referencia.PuestoJefe" class="form-control form-text" placeholder="Puesto del jefe">
                    <span class="text-danger" asp-validation-for="Referencia.PuestoJefe"></span>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.PuestoCandidato">Puesto del candidato:</label>
                    <input type="text" asp-for="Referencia.PuestoCandidato" class="form-control form-text" placeholder="Puesto del candidato">
                    <span class="text-danger" asp-validation-for="Referencia.PuestoCandidato"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.SueldoMensual">Sueldo mensual:</label>
                    <input type="text" asp-for="Referencia.SueldoMensual" class="form-control form-text" placeholder="Sueldo mensual">
                    <span class="text-danger" asp-validation-for="Referencia.SueldoMensual"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.InicioLabores">Inicio de labores:</label>
                    <input type="date" asp-for="Referencia.InicioLabores" class="form-control form-text" placeholder="Inicio de labores">
                    <span class="text-danger" asp-validation-for="Referencia.InicioLabores"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.FinLabores">Fin de labores:</label>
                    <input type="date" asp-for="Referencia.FinLabores" class="form-control form-text" placeholder="Fin de labores">
                    <span class="text-danger" asp-validation-for="Referencia.FinLabores"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.Contrato">Tipo de contrato:</label>
                    <input type="text" asp-for="Referencia.Contrato" class="form-control form-text" placeholder="Tipo de contrato">
                    <span class="text-danger" asp-validation-for="Referencia.Contrato"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Referencia.Funcion">Funciones del puesto:</label>
                    <input type="text" asp-for="Referencia.Funcion" class="form-control form-text" placeholder="Funciones del puesto">
                    <span class="text-danger" asp-validation-for="Referencia.Funcion"></span>
                </div>

                <div class="form-group col-lg-12">
                    <label asp-for="Referencia.Motivo">Motivos de separacion:</label>
                    <div class="col-sm-12">
                        <input type="text" asp-for="Referencia.Motivo" class="form-control form-text" placeholder="">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6"><button type="submit" value="" class="btn btn-success btn-block btn-lg">Registrar</button></div>
                <div class="col-xs-12 col-md-6"><a asp-page="/WorkIO/Index" class="btn btn-primary btn-block btn-lg">Cancelar</a></div>
            </div>
           </form>
    </section>
</div>