@page
@model Work_IO.Pages.WorkIO.RegisterCandidatoModel
@{
    ViewData["Title"] = "RegisterCandidato";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="container-page">
            <h3 class="dark-grey">Registro del candidato</h3>
            <div class="col-md-12">

                <div class="form-group col-lg-12">
                    <label asp-for="Candidato.Nombre">Nombre del candidato</label>
                    <input type="text" asp-for="Candidato.Nombre" class="form-control form-text" placeholder="">
                    <span class="text-danger" asp-validation-for="Candidato.Nombre"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.Sexo">Sexo</label>
                    <select class="custom-select mr-sm-2" asp-for="Candidato.Sexo">
                        <option value="masculino">MASCULINO</option>
                        <option value="femenino">FEMENINO</option>
                    </select>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.Edad">Edad</label>
                    <input type="text" asp-for="Candidato.Edad" class="form-control form-text" placeholder="Edad">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.FNacimiento">Birthday:</label>
                    <input type="date" asp-for="Candidato.FNacimiento" class="form-control">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.LNacimiento">Lugar de nacimiento</label>
                    <input type="text" asp-for="Candidato.LNacimiento" class="form-control form-text" placeholder="Lugar de nacimiento">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.Nacionalidad">Nacionalidad</label>
                    <input type="text" asp-for="Candidato.Nacionalidad" class="form-control form-text" placeholder="Nacionalidad">
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Candidato.ECivil">Estado Civil</label>
                    <input type="text" asp-for="Candidato.ECivil" class="form-control form-text" placeholder="Estado Civil">
                </div>

                <div class="col-xs-12 col-md-6"><button type="submit" value="" class="btn btn-success btn-block btn-lg">Registrar</button></div>
                <div class="col-xs-12 col-md-6"><a asp-page="/WorkIO/Index" class="btn btn-primary btn-block btn-lg">Cancelar</a></div>

            </div>
        </div>
    </form>
</div>