@page
@model Work_IO.Pages.RegisterEmpresaModel
@{
    ViewData["Title"] = "RegisterEmpresa";
}

<h1>Registro de la empresa cliente</h1>
<div class="container">

    <div class="row">
        <div class="">
            <form method="post" enctype="multipart/form-data">
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" asp-for="Empresa.Nombre" class="form-control form-text" placeholder="Nombre de la empresa">
                            <span class="text-danger" asp-validation-for="Empresa.Nombre"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" asp-for="Empresa.NomContacto" class="form-control form-text" placeholder="Nombre del contacto">
                            <span class="text-danger" asp-validation-for="Empresa.NomContacto"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="tel" asp-for="Empresa.NumContacto" class="form-control form-text" placeholder="Número del contacto">
                    <span class="text-danger" asp-validation-for="Empresa.NumContacto"></span>
                </div>
                <div class="form-group">
                    <input type="email" asp-for="Empresa.Email" class="form-control form-text" placeholder="Email Address">
                    <span class="text-danger" asp-validation-for="Empresa.Email"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="Empresa.Direccion" class="form-control form-text" placeholder="Direccion">

                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                            <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                        </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><button type="submit" value="" class="btn btn-success btn-block btn-lg">Registrar</button></div>
                    <div class="col-xs-12 col-md-6"><a asp-page="/WorkIO/Index" class="btn btn-primary btn-block btn-lg">Cancelar</a></div>
                </div>
            </form>
        </div>
    </div>

</div>